//Модульная сетка
.generate-columns(@n, @i: 1) when (@i =< @n) { // Условие выполнения!
	// @n — количество колонок
	// @i — внутренний счетчик от 1 до @n
	
	// Собственно, генерация
	.row--col-@{n}-@{i} {
		width: (@i * 100% / @n);
	}

	// Рекурсовный самовызов с увеличенным на 1 счетчиком
	.generate-columns(@n, (@i + 1));
}
.generate-columns(12);


// Clearfix
.clearfix() {
  	&:before,
  	&:after {
	    content: " ";
	    display: table;
  	}

  	&:after {
    	clear: both;
  	}
}


// Single side border-radius
.border-top-radius(@border-radius-base) {
  	border-top-right-radius: @border-radius-base;
   	border-top-left-radius: @border-radius-base;
}
.border-right-radius(@radius) {
  	border-bottom-right-radius: @border-radius-base;
    border-top-right-radius: @border-radius-base;
}
.border-bottom-radius(@radius) {
  	border-bottom-right-radius: @border-radius-base;
   	border-bottom-left-radius: @border-radius-base;
}
.border-left-radius(@radius) {
  	border-bottom-left-radius: @border-radius-base;
    border-top-left-radius: @border-radius-base;
}